/* Inicia aqui a sessão com página principal */


header{
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: 4;

}

.containerHeader{
    width: 1600px;
    height: 100%;

    margin: auto;
    border-bottom: solid 1px var(--branco) ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.containerHeader img{
    height: 80%;
    width: 90%;
}

nav{
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

nav div{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
    
}

nav div:hover{
    background-color: var(--branco);

}



.containerContent{
    width: 100%;
    height: 100%;
}

.containerHeader a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.imgProdutos{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    position: relative;
    overflow: auto;
}

.imgHistória{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

.imgHistória img{
    width: 100%;

}
.imgProdutos img{
   
    width: 100%;
}
.imgProdutos h2{
    position: absolute;
    color: var(--branco);
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    font-size: 2em;
}


.textProdutos {

width: 55%;

margin: 5% auto 5% auto;

display: flex;

justify-content: center;

align-items: center;

height: 800px;

padding: 10px;
}



.textInstitucional{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 10%;
    width: 100%;
}


.textProdutos p {
    width: 100%;
    line-height: 1.5em;

}