/* Inicia aqui a sessão com página principal */


header{
    width: 100%;
    height: 180px;
    /* position: absolute; */
    z-index: 4;
}

.containerHeader{
    width: 80%;
    height: 100%;

    margin: auto;
    border-bottom: solid 1px var(--cor01) ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}


.containerHeader a {
    text-decoration: none;
    color: black;

}

.containerHeader img{

    width: 90%;

}

nav{
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
    
}

nav div:hover{
    background-color: var(--branco);
}

.section{
    height: 120%;
}

.containerContent{
    width: 100%;
    height: auto;
    display: flex;
    /* position: absolute; */
    bottom: 0;
}

.imgProdutos{
    width: 50%;
 
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;

    padding-right: 50px;

}

.imgProdutos img{
    height: 83%;
    width: 70%;
}
.textProdutos{
    padding-left: 50px;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;

}

.textProdutos p {
    width: 70%;
    line-height: 1.6em;
}




.botaoLenguage{
    min-width: 70px;
    height: 25px;
    background-color:rgb(244, 244, 244);
    border: solid 2px rgb(61, 58, 58);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.parteInternaBotao{
    width: 50%;
    height: 100%;
    background-color:rgb(60, 204, 20) ;
    box-shadow: 2px 2px 3px rgb(128, 255, 0);
    box-shadow: inset 0px 1px 2px  rgb(166, 255, 0);
    border-radius: 20px;
    position: absolute;
    left: 2.5%;
}

.toLeftButton{
    animation: toLeftButton 0.5s  ease-in-out forwards;
}
.toRightButton{
    animation: toRightButton 0.5s  ease-in-out forwards;
}

@keyframes toLeftButton{
    0%{
        left: 0%;
    }
    100%{
        left: 50%;
    }
}

@keyframes toRightButton{
    0%{
        left: 50%;
    }
    100%{
        left: 0%;
    }
}

.botaoLenguage img:nth-child(2){
    height: 95%;
    position: absolute;
    left: 2.5%;
    
}
.botaoLenguage img:nth-child(3){
    height: 95%;
    position: absolute;
    right: 2.5%;
}

.containerHeaderMobile{
    display: none;
  }
  .fadeIn{
    display: block;
    animation: fadeInMenu 0.3s ease-in-out forwards;
  }

  .fadeOut{
   
    animation: fadeOutMenu 0.3s ease-in-out forwards;
  }

  
@keyframes fadeInMenu {
    0% {
        opacity: 0;
        /* Começa e termina com opacidade 0 */
    }

    100% {
        opacity: 1;
        /* Tem opacidade 1 na metade da animação */
    }

}

  
@keyframes fadeOutMenu {
    0% {
        opacity: 1;
        /* Começa e termina com opacidade 0 */
    }

    100% {
        opacity: 0;
        /* Tem opacidade 1 na metade da animação */
    }

}


@media screen and (max-width: 1400px){

    /*Produtos*/
    .section{
        margin-bottom: 400px;
    }
    .containerContent {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .textProdutos p {
        width: 80%;
    }

    .containerHeader{
        width: 80%;
    }
    
}

@media screen and (max-width:800px) {

    header{
        display: none;
    }
    .containerHeader{
       display: none;
    }
    .containerHeaderMobile{
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 20;
        top: 40px;
    }
    .navMobile{
        width: 100%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(207, 207, 207, 0.679);
        border-radius: 0 0 20px 20px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }

    .containerHeaderMobile  a {
        width: 35%;
        height: 11%;
        margin: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /* background-color: var(--cor01); */
        color: #676767;
        box-shadow: var(--boxShadow);
        border-radius: 10px;
        border: 1px solid;
        padding: 2px;
        font-size: 0.8em;
    }

    .containerContent{
        height: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .imgProdutos{
        width: 100%;
        padding-right: 0;
        justify-content: center;
        margin-bottom: 20px;
    }

    .textProdutos{
        width: 100%;
        padding-left: 0;
        justify-content: center;
    }
    .textProdutos p {
        width: 95%;
       
    }

    .section{
        margin: 30px 0;
        height: auto;
     
    }
}