@media screen and (max-width:1400px) {


    .formContact {
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .textArea {
        height: 50%;

        justify-content: center;
    }

    .formContact input {
        margin: 5px 0;
    }

    .formContact textarea {
        width: 63%;
        margin: 5px 0;
        height: 90%;
    }

    .sendButton {
        width: 50%;
        height: 40px;
    }

    .map img {
        width: 80%;
    }


    .containerTextFourthPage p {
        width: 100%;

    }

    .leftBox img {
        width: 80%;
    }

    .containerLIstFooter {
        width: 80%;
        margin: auto;
    }




}
