/* Inicia aqui a sessão com página principal */



.containerImg {
    width: 100%;
    height: 95%;
    position: absolute;
    overflow: hidden;
    background-color:rgb(231, 222, 216);
}

.containerImgMobile {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color:rgb(231, 222, 216);
}

.containerImg img {
    width:100%;
    height: 100%;
    position: absolute;
}

.containerImg img:nth-child(1) {
    z-index: 3;
}

.containerImg img:nth-child(2) {
    z-index: 2;
}

header{
    width: 100%;
    height: 180px;
  
    position: absolute;
    z-index: 4;

}

.containerHeader{
    width: 80%;
    height: 100%;

    margin: auto;
    border-bottom: solid 1px var(--branco) ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.imagemLogoMobile{
    display: none;
}
.containerHeader img{
    height: 80%;

}

.containerHeader a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav{
    width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
    
}

nav div:hover{
    background-color: var(--branco);
}


/* controla as cores e posição da div copm texto dos slides*/
.orange{
    background-color: var(--cor02);
    mix-blend-mode:overlay ;
 
}
.green{
    background-color: var(--cor01);
    mix-blend-mode:multiply ;
}

.toLeft {
    animation: moveLeft var(--timeSlider) ease-in-out infinite ;
}

.toRight {
animation: moveRight var(--timeSlider) ease-in-out infinite ;
}

@keyframes moveRight{
    0%,70%{
        left: 0%;
    }
    90%,100%{
        left: 44%;
    }
}

@keyframes moveLeft{
    0%,70%{
        left: 44%;
    }
    90%,100%{
        left: 0%;
    }
}

.textSign{
    
width: 56%;
    
height: 428px;
    
position: absolute;
    
z-index: 5;
    
top: 50%;
    
transform: translateY(-30%);
    
backdrop-filter:blur(02px);
    
-webkit-backdrop-filter:blur(02px);
}


.video{
    width: 100%;
}

.slideText{
 
    animation: FadeInOut var(--timeSlider) ease-in-out infinite;
}



@keyframes FadeInOut {
    0%,5%, 90%,100% {
      opacity: 0; /* Começa e termina com opacidade 0 */
    }
    
    10%,50%,80% {
      opacity: 1; /* Tem opacidade 1 na metade da animação */
    }
  }

.textMain{
    width: 56%;
    height: 426px;
    top: 50%;
    transform: translateY(-30%);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    z-index: 10;
    padding-left: 10%;
    color: var(--branco);
}

.textMain h2{
    font-size: var(--fontH2);
    text-shadow: var(--textShadow);
    margin-bottom: 3%;
}

.textMain p{
    width: 75%;
    font-size: 2em;
    font-weight: 500;
    text-shadow: var(--textShadow);
    
}


.spanLineOrange{
   background-color: var(--cor02);
   width: 100%;
   height: 12px;
   position: absolute;
   bottom: 5%;
   z-index: 5;
   animation: sizeSpanOrange  var(--timeSlider) linear infinite;
   mix-blend-mode: overlay !important;
}


 @keyframes sizeSpanOrange{
    0%{
        width: 0%;

    }
    100%{
        width: 100%;
    }
 }

 

.slide{
 
    animation: fadeInOut  var(--timeSlider) ease-in-out infinite;
}

.slideMobile{
    width: 100%;
    animation: fadeInOut  var(--timeSlider) ease-in-out infinite;
}



@keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Começa e termina com opacidade 0 */
    }
    
    20%,50%,80% {
      opacity: 1; /* Tem opacidade 1 na metade da animação */
    }
  }

 .containerHeaderMobile{
    display: none;
  }
  .fadeIn{
    display: block;
    animation: fadeInMenu 0.3s ease-in-out forwards;
  }

  .fadeOut{
   
    animation: fadeOutMenu 0.3s ease-in-out forwards;
  }

  
@keyframes fadeInMenu {
    0% {
        opacity: 0;
        /* Começa e termina com opacidade 0 */
    }

    100% {
        opacity: 1;
        /* Tem opacidade 1 na metade da animação */
    }

}

  
@keyframes fadeOutMenu {
    0% {
        opacity: 1;
        /* Começa e termina com opacidade 0 */
    }

    100% {
        opacity: 0;
        /* Tem opacidade 1 na metade da animação */
    }

}


.botaoLenguage{
    min-width: 70px;
    height: 25px;
    background-color:rgb(244, 244, 244);
    border: solid 2px rgb(61, 58, 58);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.parteInternaBotao{
    width: 50%;
    height: 100%;
    background-color:rgb(60, 204, 20) ;
    box-shadow: 2px 2px 3px rgb(128, 255, 0);
    box-shadow: inset 0px 1px 2px  rgb(166, 255, 0);
    border-radius: 20px;
    position: absolute;
    left: 2.5%;
}

.toLeftButton{
    animation: toLeftButton 0.5s  ease-in-out forwards;
}
.toRightButton{
    animation: toRightButton 0.5s  ease-in-out forwards;
}

@keyframes toLeftButton{
    0%{
        left: 0%;
    }
    100%{
        left: 50%;
    }
}

@keyframes toRightButton{
    0%{
        left: 50%;
    }
    100%{
        left: 0%;
    }
}


/*botão  de linguagem mobile*/
.parteInternaBotaoMobile{
    width: 70%;
    height: 100%;
    background-color:rgb(60, 204, 20) ;
    box-shadow: 2px 2px 3px rgb(128, 255, 0);
    box-shadow: inset 0px 1px 2px  rgb(166, 255, 0);
    border-radius: 20px;
    position: absolute;
    left: -50%;
}

.toLeftButtonMobile{
    animation: toLeftButtonMobile 0.5s  ease-in-out forwards;
}
.toRightButtonMobile{
    animation: toRightButtonMobile 0.5s  ease-in-out forwards;
}

@keyframes toLeftButtonMobile{
    0%{
        left: -50%;
    }
    100%{
        left: 20%;
    }
}

@keyframes toRightButtonMobile{
    0%{
        left: 20%;
    }
    100%{
        left: -50%;
    }
}
/*//////////////////////////////////////////////////////////////////*/


.botaoLenguage img:nth-child(2){
    height: 95%;
    position: absolute;
    left: 2.5%;
    
}
.botaoLenguage img:nth-child(3){
    height: 95%;
    position: absolute;
    right: 2.5%;
}



/* portabilidade para mobile a partir daqui */

@media screen and (max-width:1400px){
  
 .containerImg img{
    height: inherit;
 }
    .containerHeader {
        width: 100%;
        padding: 0% 5%;
        position: relative;
    }

    .textSign,
    .textMain {
        height: 60%;
    }

    .textMain h2 {
        font-size: 2.2em;
    }

    .textMain p {
        font-size: 1.7em;
    }

}


@media screen and (max-width:800px){

    .imagemLogoMobile{
        display: block;
        position: absolute;
        left:50%;
        top: 50%;
        transform: translate(-50%,80%);
        z-index: 200;
        mix-blend-mode: overlay;
    }
    .containerHeaderMobile{
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 20;
        margin-top: 40px;
    }

    .navMobile{
        width: 100%;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(207, 207, 207, 0.679);
        border-radius: 0 0 20px 20px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }

    .containerHeaderMobile  a {
        width: 35%;
        height: 11%;
        margin: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /* background-color: var(--cor01); */
        color: #676767;
        box-shadow: var(--boxShadow);
        border-radius: 10px;
        border: 1px solid;
        padding: 2px;
        font-size: 0.8em;
    }

    .containerHeader,.containerImg{
        display: none;
    }
    .containerImgMobile{
        display: block;
    }

    .textMain h2 {
        font-size: 1.8em;
    }

    .textMain p {
        font-size: 1.3em;
    }

    .textSign{
    
        width: 100%;
        height: 300px;
        top: 50%;
        transform: translateY(-100%);
       
    }


    @keyframes moveRight{
        0%,70%{
            left: 0%;
        }
        90%,100%{
            left: 0%;
        }
    }
    
    @keyframes moveLeft{
        0%,70%{
            left: 0%;
        }
        90%,100%{
            left: 0%;
        }
    }

    .textMain{
        width: 100%;
        height: 300px;
        top: 50%;
        transform: translateY(-100%);
        padding-left: 5%;
    }

    .textMain  p {
        width: 90%;
    }

    .orange  {
        mix-blend-mode: multiply;
    }
}
